API_BASE_URL=https://storeapi.swadeshpos.com/api/v1
QR_MENU_BASE_URL=https://store.swadeshpos.com/m

# Firebase config
VITE_FIREBASE_API_KEY=AIzaSyDK-YuAozk0hjkijHQS93D-TMzOLTdeHMM
VITE_FIREBASE_AUTH_DOMAIN=hrms-42c0f.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=hrms-42c0f
VITE_FIREBASE_STORAGE_BUCKET=hrms-42c0f.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=510074388641
VITE_FIREBASE_APP_ID=1:510074388641:android:52e276467105973794f0e0
VITE_FIREBASE_VAPID_KEY=BL_bXcjvn0jolEGxVBwnNXrVUPyDbMYvb5iFDE6prTTHflYdZ8ZNwPJC9oNVzVaU7fsSwGa6sFEbHLtgf32tcZc